.defaultIcons {
    background-color: transparent;
    color: var(--defaulticons);
    border: none;
    z-index: 3;
    cursor: pointer
}

.defaultIcons_black {
    background-color: transparent;
    color: var(--defaulticons_black);
    border: none;
    z-index: 3;
    cursor: pointer
}

.defaultIcons_black:active { /* maybe move this to javascript */
    color: white
}