body {
    font-family: system-ui;
    background-color: #000;
    color: white;
    overflow: hidden
}

.controls {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center
}
.button {
    /* height: 100vh; */
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer
}

.title {
    display: flex;
    justify-content: center;
    align-items: center
}

.audio {
    display: none;
    justify-content: center;
    align-items: center
}

#progress {
    height: 100%;
    width: 0;
    background-color: #c210aa
}

#progressContainer {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #fff;
    height: 10px;
    position: relative
}

.nav {
    margin-bottom: 30px;
    justify-content: space-between;
    display: flex
}