#bar {
    -webkit-appearance: none;
    height: 4px;
    position: fixed;
    width: 60%;
    cursor: pointer;
    right: 20%;
    margin: 0 auto;
    background-color: #a5adce
}


#bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #a5adce;
    border: 2px solid white;
    width: 10px;
    height: 10px;
    border-radius: 50%
}


.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto
}

.box {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: 80vw;
    margin: 0 auto;
    background-color: #51576d;
    border-radius: 8px;
    display: flex;
    padding: 20px;
    box-sizing: border-box
}

.metadatabox {
    display: none;
    position: fixed;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 60vw;
    background-color: #51576d;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    color: #ffffff
}

.metadatabox:not(:empty) {
    display: flex;
}