body {
    font-family: system-ui;
    background-color: #414559;
    color: white;
    overflow: visible
}

.watermark {
    position: fixed;
    top: 0;
    right: 0;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    padding-right: 10px;
    user-select: none
}

.nav {
    margin-bottom: 30px
}

.button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer
}

#fullscreen {
    position: fixed;
    bottom: 0;
    right: 0
}