.default-button {
    background-color: transparent;
    color: white;
    border: none;
    z-index: 3;
    cursor: pointer
}

.default-black-button {
    background-color: transparent;
    color: black;
    border: none;
    z-index: 3;
    cursor: pointer
}

.default-active-button {
    color: white
}