.default-button {
    background-color: transparent;
    color: var(--icon-color);
    border: none;
    z-index: 3;
    cursor: pointer
}

.default-black-button {
    background-color: transparent;
    color: var(--icon-inactive-color);
    border: none;
    z-index: 3;
    cursor: pointer
}

.default-active-button {
    color: var(--icon-active-color);
}