body {
    font-family: system-ui;
    background-color: #414559;
    color: white
}

.watermark {
    position: fixed;
    top: 0;
    right: 0;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    padding-right: 10px;
    -webkit-user-select: none
}

#fullscreen {
    position: fixed;
    bottom: 0;
    right: 0
}