#container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#songArt {
    width: 50px;
    height: 50px;
    margin-right: 10px
}

.songInfo {
    display: flex;
    flex-direction: column
}

#songTitle {
    color: var(--text-color);
    font-weight: bold;
    font-size: 14px
}

#songArtist {
    color: var(--subtext-color);
    font-size: 12px
}